body {
    padding-top: 50px;
}

.text-content {
    margin: 30px;
}

#accordion .panel-title {
    margin: auto 15px;
    text-align: left;
}



/*item tabs*/

.tabs {
    text-align: center;
    width: 100%;
    margin: 0;
}

.tabs ul {
    list-style: none;
    padding-left: 0px;
    background-color: #444;
}

.tabs ul li {
    display: inline-block;
}

.tabs > li.active > a,
.tabs > li.active > a:hover,
.tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
}

.contact-parent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.contact {
    padding: 0px;
    text-align: center;
}

.contact>p {
    font-size: 0.3em;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

#row-hotact {
    position: relative;
}

#image {
    margin-left: 5px;
    position: relative;
    width: 10%;
    float: left;
}

.container-scroll {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    width: 85%;
    float: right;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
